@tailwind base;
@tailwind components;
@tailwind utilities;

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/Website_background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(1px); 
  z-index: -2;
  transform: scale(1.1); /* edge blur
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(65, 105, 225, 0.3); /* Royal blue with 30% opacity */
  z-index: -1;
}

body {
  position: relative;
  min-height: 100vh;
}